.header, .modal_header {
    z-index: 1000;
    width:100%;
    margin: 90px 0 60px 0;
    @media (max-width: $md4+px){
        margin: 60px 0 60px 0;
    }
    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $md2+px){
            img{
                width: 100px;
            }
        }
    }
    &__icon-container{
        position: absolute;
        left: 40px;
        top: 11px;
    }
    .start-button{
        text-transform: uppercase;
        font-size: 18px;
        font-family: $FontFamily;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight: 300;
        &:hover{
            font-family: $FontFamilyBold;
            font-weight: 600;
        }
        @media (max-width: $md2+px){
            right: 10px;
        }
        @media (max-width: $md4+px){
            font-size: 14px;
        }
}
}

.header{
    &__content:not(.modal__header__content) {
        @media (max-width: $md2+px){
            padding: 0 30px;
        }
    }
}