.main {
    .gallery{
        display: grid;
        grid-template-rows: 250px 40px 35px 115px 88px 88px 92px 105px 155px 70px 80px 180px 40px;
        grid-template-areas: "paint-1 paint-2 paint-3 paint-4"
                             "paint-1 paint-2 paint-3 paint-4"
                             "paint-5 paint-2 paint-3 paint-8"
                             "paint-5 paint-2 paint-7 paint-8"
                             "paint-5 paint-6 paint-7 paint-8"
                             "paint-5 paint-6 paint-7 paint-11"
                             "paint-9 paint-6 paint-7 paint-11"
                             "paint-9 paint-10 paint-7 paint-11"
                             "paint-9 paint-10 paint-14 paint-11"
                             "paint-9 paint-13 paint-14 paint-15"
                             "paint-12 paint-13 paint-14 paint-15"
                             "paint-12 paint-13 paint-14 paint-15"
                             "paint-12 paint-13 paint-14 paint-15";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 40px;
        &__image{
            
            
            &__painting{
                
            }
        }
	&__title {
        font-size: 2.4rem;
        @media (max-width:590px){
            font-size: 1.6rem;
        }
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 0;
    }
    }
.painting-description{
    display:none;
}
#paint-1{
    grid-area:paint-1;
}
#paint-2{
    grid-area:paint-2;
}
#paint-3{
    grid-area:paint-3;
}
#paint-4{
    grid-area:paint-4;
}
#paint-5{
    grid-area:paint-5;
}
#paint-6{
    grid-area:paint-6;
}
#paint-7{
    grid-area:paint-7;
}
#paint-8{
    grid-area:paint-8;
}
#paint-9{
    grid-area:paint-9;
}
#paint-10{
    grid-area:paint-10;
}
#paint-11{
    grid-area:paint-11;
}
#paint-12{
    grid-area:paint-12;
}
#paint-13{
    grid-area:paint-13;
}
#paint-14{
    grid-area:paint-14;
}
#paint-15{
    grid-area:paint-15;
}
.subscribe-form {
    max-width: 640px;
    width: 100%;
    @media (max-width:590px){
        width: 80%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 94px auto;

    &__button{
        background-color: $primary;
        border-radius: 50px;
        height:56px;
        width: 200px;
        margin:0 0 0 16px; 
        border:none;
        color:$white;
        font-size: 16px;
        padding:12px 30px;
        box-shadow: 0 5px 10px 2px rgba(76, 123, 273, 0.230414);
        position:relative;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            display:block;
            top:0;
            left:0;
            z-index:30;
            position:absolute;
            background-color: rgba(255,255,255,0.2);
            opacity:0; 
            transition: opacity 0.3s;
        }
        &:hover{
            &::before{
                opacity:1;
            }
            
        }
        @media (max-width:590px){
            width: 100%;
            margin:0;
        }
    }
}
.email {
    height:56px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 50px;
    border: 1px $gray solid;
    padding: 0 0 0 30px;
    color:$VeryDarkBlue;
    font-size:16px;
    outline:none;
    &::placeholder{
        font-family: $FontFamily;
        color:$gray;
        font-size:16px;
    }
    &.error{
        border: 1px $secondaryRed solid;
    }

}
}    
.error ~ .error-message{
        display:block;
        @media (max-width:590px){
            position:relative;
            left:0;
            top:10px;
            font-size: 12px;
            bottom:0;
        }
        }
.email-info{
    display: block;
    flex:1;
    position:relative;
    @media (max-width:590px){
        margin-bottom:30px;
    }
    
}
.error-message{
    font-size: 16px;
    color:$secondaryRed;
    font-style: italic;
    position:absolute;
    left:30px;
    bottom:-30px;
    display: none;
}
.illustration {
    width: 100%;
	&__image { 
        width:100%;
        object-fit: contain;

    }
}