.main {
    display:flex;
    justify-content: center;
    .gallery{
        display: grid;
        grid-template-rows: 250px 36px 4px 36px 74px 40px 100px 40px 50px 40px 50px 40px 65px 40px 145px 10px 30px 10px 30px 40px 260px;
        grid-template-areas: "paint-1 paint-2 paint-3 paint-4"
                            ".       paint-2 paint-3 .      "
                            ".       paint-2 .       .      "
                            "paint-5 paint-2 .       paint-8"
                            "paint-5 paint-2 paint-7 paint-8"
                            "paint-5 .       paint-7 paint-8"
                            "paint-5 paint-6 paint-7 paint-8"
                            "paint-5 paint-6 paint-7 .     "
                            "paint-5 paint-6 paint-7 paint-12"
                            ".       paint-6 paint-7 paint-12"
                            "paint-9 paint-6 paint-7 paint-12"
                            "paint-9 .       paint-7 paint-12"
                            "paint-9 paint-10 paint-7 paint-12"
                            "paint-9 paint-10 .      paint-12"
                            "paint-9 paint-10 paint-11 paint-12"
                            "paint-9 paint-10  paint-11 .     "
                            "paint-9 .        paint-11 .     "
                            "paint-9 .       paint-11 paint-15"
                            "paint-9 paint-14 paint-11 paint-15"
                            ".       paint-14 paint-11 paint-15"
                            "paint-13 paint-14 paint-11 paint-15";
        grid-template-columns: 300px 300px 300px 300px;
        grid-column-gap: 40px;
        @media (max-width: $md2+px) {
            grid-template-columns: 300px 300px;
            grid-template-rows: 250px 40px 110px 40px 135px 40px 75px 40px 225px 40px 15px 40px 250px 40px 155px 40px 65px 40px 315px 40px 75px 40px 145px 40px 145px 40px 340px;
            grid-template-areas: 
            "paint-1 paint-2" 
            ".       paint-2"
            "paint-3 paint-2"
            "paint-3 .      "
            "paint-3 paint-4"
            ".       paint-4"
            "paint-5 paint-4 " 
            "paint-5 .      "
            "paint-5 paint-6 " 
            ".       paint-6"
            "paint-7 paint-6" 
            "paint-7 .     "
            "paint-7 paint-8 "
            "paint-7 .     "
            "paint-7 paint-10"
            ".       paint-10"
            "paint-9 paint-10 "
            "paint-9 .      "
            "paint-9 paint-12"
            ".       paint-12"
            "paint-13 paint-12 "
            "paint-13 .      "
            "paint-13 paint-14 "
            ".        paint-14"
            "paint-11 paint-14 "
            "paint-11 .     "
            "paint-11 paint-15 "
        }
        @media (max-width: $md4+px) {
            display: flex;
            flex-direction: column;
            .gallery__image{
                margin-bottom: 40px;
            }
        }
        &__image{
            position:relative;
            background: linear-gradient(-180deg, rgba(239, 250, 248,0)27%, rgba(2, 2, 2, 0.493)  );
            .painting__name{
                @include adaptive-value('font-size',
                26,
                14,
                0);
        } 
        }
        &__image:hover{
            background: linear-gradient(180deg, rgba(239, 250, 248, 0.35) 27%, rgba(114, 117, 117, 0.178));

        }
        &__painting{
            position:relative;
            z-index: -1;
            width:100%;
            height: 100%;
            }
	&__title {
        font-size: 2.4rem;
        @media (max-width:590px){
            font-size: 1.6rem;
        }
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 0;
    }

    }
    
    .painting-description{
        color:#fff;
        font-family: $FontFamily;
        position: relative;
        top:-140px;
        left: 40px;
        width: 80%;

        } 
     
    }

#paint-1{
    grid-area:paint-1;
}
#paint-2{
    grid-area:paint-2;
}
#paint-3{
    grid-area:paint-3;
}
#paint-4{
    grid-area:paint-4;
}
#paint-5{
    grid-area:paint-5;
}
#paint-6{
    grid-area:paint-6;
}
#paint-7{
    grid-area:paint-7;
}
#paint-8{
    grid-area:paint-8;
}
#paint-9{
    grid-area:paint-9;
}
#paint-10{
    grid-area:paint-10;
}
#paint-11{
    grid-area:paint-11;
}
#paint-12{
    grid-area:paint-12;
}
#paint-13{
    grid-area:paint-13;
}
#paint-14{
    grid-area:paint-14;
}
#paint-15{
    grid-area:paint-15;
}
